.customer-row, .customers-table-header {
  display: flex;
}

.customer-row span, .customers-table-header span {
  flex-grow: 1;
  border-bottom: 1px solid black;
  width: 25%;
}

.customers-table-header {
  background-color: #f0fbfb;
}

.customers-table-with-controls {
  display: flex;
  flex-direction: column;
}

.customers-table-container {
  flex-grow: 1;
}
